
.hideOnPc{
    display:none;
}


/* Mobile & tablet  */
@media (max-width:1023px){
    .number{
        margin: 0;
    }
    .number-row{
        margin: 0;
    }
    .showOnMobileTablet{
        display:block;
    }
    .hideOnMobileTablet{
        display:none;
    }
    .search-btn{
        font-size: 2rem;
        color: var(--red-color);
        cursor: pointer;
        position: absolute;
        right: 137px;
        top: 41px;
    }
    .close-menu-mobile-tablet,
    .menu-btn{
        position: absolute;
        right: 61px;
        top: 41px;
        font-size: 2rem;
        transition:all linear 0.2s;
    }
    .wrap-header-mobile-tablet{
        display: flex;
        justify-content: space-between;
    }
    .logo{
        width: 145px;
        margin-top: 0;
    }

    .swiper-container1{
        margin-top: 80px;
        height:auto;
        width: 100%;
    }
    .header{
        max-height:80px;
        width: 100%;
        z-index: 100;
        background-color:var(--white-color);
        position:fixed;
    }

    
    .slider{
        position: relative;
    }
    
    

}
/* Tablet  */
@media (min-width:740px) and (max-width:1023px){
    .hideOnTablet{
        display:none;
    }
    .history-input {
        position: absolute;
        top: 56px;
        left: 30px;
        background-color: var(--white-color);
        box-shadow: 1px 1px 1px 2px rgb(0 0 0 / 20%);
        width: 60%;
        text-align: left;
        z-index: 1;
        display: none;
    }
    .title-slide {
        position: absolute;
        top: 41%;
        left: 74px;
        color: var(--white-color);
        font-size: 4rem;
        width: 35%;
        line-height: 4rem;
        animation: fadeInRight 1s ease;
    }
    .arow-down-btn{
        position: relative;
        bottom: 85px;
        left: 86%;
        font-size: 3.5rem;
        color: var(--white-color);
        cursor: pointer;
        z-index: 3;
        transition: all linear 0.5s;
        text-shadow: 1px #000;
    }
    .arow-down-btn:hover{
        bottom: 65px;
    }
    .major {
        margin-top: 30px;
    }
    .major-header-title {
        font-size: 1.9rem;
        color: var(--blue-color);
        line-height: 2rem;
        font-weight: bold;
    }
    .major-body {
        margin-top: 45px;
        transition: linear 0.5s;
    }
    .major-body__row{
        flex-wrap: nowrap;
    }
    .major-body-heading {
        font-size: 5rem;
        line-height: 1.1;
        color: var(--blue-color);
        font-weight: 800;
        padding-bottom: 40px;
    }
    .video{
        margin-top: 44px;
    }
    .number{
        margin: 0 0 60px 0;
    }
    .number-title{
       padding-left: 60px;
       margin:25px 0;
    }
    .big-number{
        font-size:8rem;
    }
    .percent-icon {
        position: absolute;
        top: 18px;
        font-size: 1.6rem;
        right: 27px;
        color: var(--blue-color);
    }
    .number-description {
        color: var(--blue-color);
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.4;
    }
    .video-youtube {
        height: 425px;
        width: 642px;
    }
    .img-top{
        display:flex;
        justify-content: space-between;
    }
    .life-tlu{
        margin-bottom: 80px;
    }
    .life-tlu-text-heading {
        font-size: 5.3rem;
        line-height: 1;
        margin-bottom: 30px;
    }
    .life-tlu-text {
        position: relative;
        padding-left: 0;
    }
    .life-tlu-number {
        margin-top: 0px;
        padding-left: 60px;

    }
    .number-students-big {
        font-size: 8rem;
        line-height: 1.3;
    }
    .number-sudent-plus-icon {
        position: absolute;
        font-size: 1.7rem;
        font-weight: 900;
        top: 30px;
        right: 20px;
    }
    .number-student-title {
        font-size: 1.8rem;
        line-height: 1.5;
    }
    .quote-left-icon{
        font-size: 14rem;
        color: var(--blue-color);
        transform: rotateY(180deg);
        margin-left: 0;
    }
    .inspire-text-content {
        padding-top: 30px;
        font-size: 2.9rem;
        line-height: 1.2;
        font-weight: bold;
        margin-right: 50px;
    }
    .swiper-button-next {
        padding-left: 0px;
    }
    .row-event {
        display: flex;
        padding: 30px 0 0 0;
    }
    .news-more-wrap{
        padding:30px;
    }
    #news-arrow-icon {
        padding-top: 34px;
    }
    .notice-col-2 {
        border-right: none;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .notice-col-1 {
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .tuyensinh{
        margin-top: 0px;
    }
    .tuyensinh-content-title {
        font-size: 3.1rem;
    }
    .tuyensinh-img{
        position: relative;
        width: 242px;
        height: 273px;
        top: 140px;
    }
    .event-news-content {
        margin-left: 40px;
        padding-top: 40px;
    }
    .event-link {
        font: size 3rem;
    }
    .connect{
        margin-top: 80px;
    }
    .connect-heading {
        font-size: 2.8rem;
        padding: 80px 50px 50px 50px;
    }
    .social-content-facebook {
        padding-left: 50px;
    }
    .social {
        padding-top: 0;
        padding-bottom: 80px;
    }
    .social-content-ig {
        padding-left: 0px;
    }
    .img-left-top{
        height:150px;
        width:150px;
    }
    .tlu-life-cook{
        width:190px;
        height:126px;
        top: 150px;
    }
    .swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
        min-height:600px;
    }
    .swiper-button-next, .swiper-button-prev {
        position: absolute;
        top: 90%; 
    }
    
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        left: 384px;
        right: auto;
    }
    .inspire {
        background-color: var(--red-color);
        width: 95%;
        padding: 30px 30px 100px 30px;
        margin-top: 80px;
        height:700px;
    }
    .wrap-slide2 {
        padding-top: 0;
    }
    .swiper-slide .swiper-slide-active{
        width: 486px;
    }
}



/* Mobile  */
@media (max-width:739px){

    .hideOnMobile{
        display:none;
    }
    .showOnMobile{
        display:block;
    }
    .number-row{
        margin-left: 0;
        margin-right: 0;
        flex-wrap: wrap;
    }
    .row-event {
        padding: 50px 0px;
    }
    .close-menu-mobile-tablet, .menu-btn{
        right:25px;
    }
    .logo{
        padding-left: 25px;
    }
    .search-btn{
        right: 75px;
    }
    .layout-menu-sidebar{
        padding: 25px;
    }
    .layout-menu-sidebar-child{
        padding: 0 25px;
        font-size: 1rem;
    }
    .return{
        margin-left: 0;
    }
    .title-slide {
        position: absolute;
        top: 21%;
        left: 25px;
        color: var(--white-color);
        font-size: 2.1rem;
        width: 41%;
        line-height: 3rem;
        animation: fadeInRight 1s ease;
    }
    .swiper-pagination1 {
        position: absolute;
        bottom: 20px !important;
        margin: 0;
        width: auto!important;
        left: 28px !important;
    }
    .search-input-btn{
        display:none;
    }
    .form-search {
        padding-left: 60px;
        text-align: left;
    }
    .search-input-heading {
        font-size: 2.2rem;
        color: var(--blue-color);
        margin-bottom: 0;
    }
    .search-input{
        margin-top: 20px;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
        font-size: 2rem;
        width: 85%;
        height: 32px;
        position: relative;
        border-bottom: 1px solid #ccc;
        border-radius: 0;

    }
    .history-input {
        position: absolute;
        top: 53px;
        left: 0;
        background-color: var(--white-color);
        box-shadow: 1px 1px 1px 2px rgb(0 0 0 / 20%);
        width: 84.1%;
        text-align: left;
        z-index: 1;
        display: none;
    }
    .wrap-key-word-search h1 {
        margin-bottom: 0px;

    }
    .wrap-key-word-search {
        margin-top: 60px;
    }
    .popular-key-search.row{
        margin:0;
    }
    .arrow-down-btn{
        display:none;
    }
    .major {
        margin-top: 0px;
        padding: 0 25px;
    }
    .major-header{
        padding-bottom: 0;
    }
    
    .major-khoa{
        padding:25px 0;
    }
    .plus-icon {
        font-size: 3rem;
    }
    .major-khoa-list{
        width:80%;
    }
    .major-body{
        margin-top: 40px;
    }
    .major-body-heading {
        font-size: 2.6rem;
        line-height: 1.5;
        color: var(--blue-color);
        font-weight: 800;
        padding-bottom: 40px;
    }
    .video {
        padding: 0 25px;
        margin-top: 50px;
        position: relative;
        z-index: 9;
    }
    .number-title {
        margin-bottom: 0;
        font-size: 1.8rem;
        color: var(--blue-color);
        font-weight: 400;
        line-height: 1.5;
    }
    .number{
        padding: 25px 25px 50px;

    }
    .big-number {
        padding-top: 20px;
        font-size: 8rem;
        color: var(--blue-color);
        font-weight: bold;
        line-height: 1;
    }
    .percent-icon {
        position: absolute;
        top: 34px;
        font-size: 1.7rem;
        left: 169px;
        color: var(--blue-color);
    }
    .pad-25{
        padding: 0 25px;
    }
    .img-top{
        display: flex;
        justify-content: space-between;
    }
    .img-left-top{
        height:100px;
        width:100px;
        padding-top: 25px;
    }
    .life-tlu{
        margin-bottom: 50px;
    }
    .tlu-life-cook{
        width:155px;
        height:103px;
        top: 130px;
    }
    .life-tlu-text {
        position: relative;
        padding-left: 0;
        padding-top: 25px;
    }
    .life-tlu-img-list {
        left: 0;
    }
    .life-tlu-number {
        margin: 0;
    }
    .number-students-big {
        font-size: 8rem;
        line-height: 1.5;
    }
    .number-sudent-plus-icon {
        position: absolute;
        font-size: 1.5rem;
        font-weight: 900;
        top: 36px;
        right: 88px;
    }
    .inspire {
        background-color: var(--red-color);
        width: 97%;
        padding: 25px;
        margin-top: 80px;
    }
    .wrap-slide2 {
        padding:0;
    }
    .quote-left-icon {
        font-size: 7rem;
        color: var(--blue-color);
        transform: rotateY(180deg);
        margin-left: 260px;

    }
    .inspire-text-content {
        padding-top: 25px;
        font-size: 1.9rem;
        line-height: 1.5;
        font-weight: bold;
        margin-right: 0px;
    }
    .inspire {
        background-color: var(--red-color);
        width: 93%;
        padding: 25px 25px 100px 25px;
        margin-top: 80px;
        height:100%;
    }
    .swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
        min-height:450px;
    }
    .swiper-button-next, .swiper-button-prev {
        position: absolute;
        top: 96%;
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        left: 249px;
        right: auto;
    }
    .event-news{
        padding: 0 25px;
    }
    .bg-event-news {
        background-repeat: no-repeat;
        background-size: contain;
    }
    .event-link {
        display: block;
        text-decoration: none;
        font-size: 1.9rem;
        color: var(--white-color);
        line-height: 1;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .event-news-content {
        margin-left: 0;
        padding-left: 25px;
        padding-top: 32px;
        margin-bottom: 22px;
    }
    .show-more-btn {
        width: 100px;
        height: 40px;
        border: none;
        cursor: pointer;
        font-size: 1.4rem;
        color: var(--blue-color);
        font-weight: bold;
        margin-bottom: 48px;
    }
    .red-line {
        display: none;
    }
    .title-event-news-more {
        color: var(--white-color);
        font-size: 2rem;
        line-height: 1.5;
    }
    .news-more-wrap {
        padding: 40px 25px;
    }
    .seemoreBtn {
        color: var(--white-color);
        font-size: 1.6rem;
        font-weight: bold;
    }
    .news-more {
        margin-top: 25px;
        background-color: var(--red-color);
    }
    .notice-wrap{
        padding: 0 25px 25px 25px;
    }
    .notice-content{
        padding: 15px 0;
        border-bottom: 1px solid #ccc;

    }
    .tuyensinh {
        margin-top: 0;
    }
    .tuyensinh-wrap {
        background-color: var(--blue-color);
        color: var(--white-color);
        padding: 0 25px;
        line-height: 1.5;
    }
    .tuyensinh-content-title {
        font-size: 3rem;
        line-height: 1.4;
        padding-bottom: 25px;
    }
    .tuyensinh-content-description {
        opacity: 0.7;
        font-size: 1.5rem;
        line-height: 1.5;
    }
    .connect {
        margin-top: 50px;
    }
    .connect-content .row{
        padding:50px 0;
        text-align: center;
    }
    .social-content-facebook,.social-content-ig,.home-page-link,
    .social-content-youtube,
    .connect-heading{
        padding:0;
    }
    .social {
        padding-top: 25px;
    }
    .footer-wrapper {
        padding: 60px 25px;
    }
    .copy-right-and-social-icon,
    .footer-contact-email {
        padding-bottom: 0;
    }
    .social-list-icon {
        list-style: none;
        display: flex;
        justify-content: unset;
        align-items: center;
        padding-bottom: 20px;
    }
    .num-col-2 {
        padding-left: 0;
    }
}
